<h3>Coding Style</h3>

<div class="alert alert-info">
  <h4>CSS is awesome! But you have to be careful there. A lot.</h4>
</div>

<ul>
  <li>Use soft-tabs with a two space indent.</li>
  <li>Put spaces after : in property declarations.</li>
  <li>Put spaces before { in rule declarations.</li>
  <li>Use hex color codes #000 unless using rgba.</li>
  <li>Use // for comment blocks (instead of /* */).</li>
</ul>

<p>Here is good example syntax:</p>

<pre class="prettyprint linenums">
  // This is a good example!
  .styleguide-format {
    border: 1px solid #0f0;
    color: #000;
    background: rgba(0,0,0,0.5);
  }
</pre>

<h3>LESS/SCSS Style</h3>

<p>As a rule of thumb, don't nest further than 3 levels deep. If you find yourself going further, think about reorganizing your rules (either the specificity needed, or the layout of the nesting).</p>

<h3>File Organization</h3>

<p>In general, the CSS file organization should follow something like this:</p>

<pre class="prettyprint linenums">
  styles
  ├── components
  │   ├── comments.less
  │   └── listings.less
  ├── globals
  │   ├── browser_helpers.less
  │   ├── responsive_helpers.less
  │   ├── variables.less
  ├── plugins
  │   ├── jquery.fancybox-1.3.4.css
  │   └── reset.less
  ├── sections
  │   ├── issues.less
  │   ├── profile.less
  └── shared
      ├── forms.less
      └── markdown.less
</pre>