<div class="container">
 <header>
   {{#linkTo "index" class="logo"}}{{/linkTo}}
   <h1>{{#linkTo "index"}}Frontend developent styleguide{{/linkTo}}</h1>

   <ul class="nav nav-tabs">
     <li>{{#linkTo "css.overall"}}CSS{{/linkTo}}</li>
     <li>{{#linkTo "html"}}HTML{{/linkTo}}</li>
   </ul>
 </header>

  <div id="main">
   {{outlet}}
  </div>
</div>
