<div class="container">
 <header>
   <h1>Frontend developent styleguide</h1>
   <h3>It's dangerous to go alone. Take this!</h3>

   <ul class="nav nav-tabs">
     <li>{{#linkTo "css"}}CSS{{/linkTo}}</li>
     <li>{{#linkTo "html"}}HTML{{/linkTo}}</li>
   </ul>
 </header>

  <div id="main">
   {{outlet}}
  </div>
</div>
