<div class="row content">
  <div class="col-2">
    <ul class="nav nav-pills nav-stacked">
      <li>
        {{#linkTo "css.overall"}}Overall{{/linkTo}}
      </li>
      <li>
        {{#linkTo "css.buttons"}}Buttons{{/linkTo}}
      </li>
    </ul>
  </div>

  <div class="col-10">
    {{outlet}}
  </div>
</div>